<div class="container">


  <form class="col-xs-8" novalidate [formGroup]="formulario">
    <div class="form-group form-inline">
      <label for="nombre">Nombre:</label>
      <input formControlName="nombre" class="form-control" value="{{cancion.nombre}}">
    </div>
    
    <span *ngIf="crearbtn" class="btn btn-success" (click)="submit($event)">Crear</span>
    <span *ngIf="!crearbtn" class="btn btn-primary" (click)="modificar(cancion)">Modificar</span>
    <span *ngIf="!crearbtn" class="btn btn-danger" (click)="eliminar(cancion.id)">Eliminar</span>

  </form>

</div>
<!-- container -->
